<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Lifts</title>

    <link rel="stylesheet" th:href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script type="text/javascript" th:src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav th:fragment="navigation">
    <a href="/jackedandtan">One Rep Max</a>
    <a href="/jackedandtan/addlift">Add Lift</a>
    <a href="/jackedandtan/photos">Photos</a>
    <a href="/jackedandtan/workout">Workout</a>
    <a href="/jackedandtan/profile">Profile</a>
</nav>
</body>
</html>